<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azfcostmanagement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/49924f75-210e-475a-a978-ee944b6b717c/resourcegroups/CostManagementRG/providers/Microsoft.Web/sites/AZFCostManagement</ResourceId>
    <UserName>$AZFCostManagement</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azfcostmanagement.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>